<ion-header>
  <ion-toolbar>
    <ion-title>VERIFICACION</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="user$ | async as user">
<ion-row>
  <ion-col>
    <h2>GRACIAS POR TU REGISTRACIÓN</h2>
    <p>SE ENVIÓ UN CORREO DE CONFIRMACIÓN     <strong>{{user.email}}</strong></p>
    <p>verifica tu correo dandole clic</p>
  </ion-col>
</ion-row>

  <ion-row>
    <ion-col>
      <ion-button type="submit" color="primary" expand="block" (click)="onSendEmail()"> REENVIAR VERIFICACION</ion-button>
    </ion-col>
  </ion-row>
</ion-content>
