<ion-header no-border >
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-button (click)="goMenu3()" fill="clear">
        <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <p align="center"><strong>VISITAS</strong></p>
  </ion-toolbar>
  <ion-searchbar animated (ionChange)="buscar($event)" placeholder="Buscar por Nombre"></ion-searchbar>
</ion-header>
<ion-item>
  <ion-icon name="calendar-outline"></ion-icon>
  <ion-input (ionChange)="buscarFecha($event)" >
    <!-- <ion-label> Fecha/Hora Ingreso:</ion-label>
     <ion-input [(ngModel)]="newRegister.fecha"></ion-input>-->

    <ion-datetime [(ngModel)]="fechaIngre" type="input" placeholder="Buscar por Fecha"
                  value="{{ fechaIngre | date: 'yyyy-MM-dd ' }}"
                  display-format="MMM DD, YYYY "
                  cancelText="Cancelar"
                  [ngModel]="fechaIngre"
                  (ionChange)="cambioFecha2( $event )"
    >

    </ion-datetime>
  </ion-input>
</ion-item>
<ion-content>
  <ion-button (click)="toggleInfiniteScroll(); goRegisterPerson()" expand="block">
    Agregar Registro
  </ion-button>
  <table id="excel-table">
  <tbody>
    <tr >
      <th scope="col" >Nombre</th>
      <th scope="col" >C.I. </th>
      <th scope="col" >Fecha </th>
      <th scope="col" >Hora </th>
      <th scope="col" >Motivo</th>
    </tr>
  </tbody>
    <!-- | filtroFecha: fechaBuscar: 'fecha'  -->
    <tr *ngFor="let registerPerson of Items | pipes : textoBuscar: 'nombre'  " >
      <td>  {{registerPerson.nombre}}</td>
      <td> {{registerPerson.cedula}}</td>
      <td> {{registerPerson.fecha}}</td>
      <td> {{registerPerson.hora}}</td>
      <td> {{registerPerson.motivo}}</td>
    </tr>
  </table>


  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
            loadingSpinner="bubbles"
            loadingText="Cargar más datos...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
