<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="end">
            <ion-back-button></ion-back-button>
            <ion-button fill="clear">
                <ion-icon name="settings" slot="icon-only"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>{{name}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div *ngFor="let chat of chats">

        <ion-item lines="none" *ngIf="chat.uid.uid != uid.uid">
            <ion-label class="ion-text-left">
                <p> {{name}}</p>
                <h2>
                    <b>
                        {{chat.msg}}
                    </b>
                </h2>
            </ion-label>
        </ion-item>

        <!este es mi chat>
        <ion-item lines="none" *ngIf="chat.uid.uid == uid.uid">
            <ion-label class="ion-text-right">
                <p> YOU</p>
                <h2>
                    <b>
                        {{chat.msg}}
                    </b>
                </h2>
                <div class="time ion-text-right">
                    <br>{{ chat.createAt?.toMillis() | date : 'short'}}
                </div>
            </ion-label>
        </ion-item>
    </div>
</ion-content>
<ion-footer>
    <ion-toolbar color="light">
        <ion-row class="ion-align-items-center">
            <ion-col size="10">
                <ion-textarea autoGrow="true" placeholder="Type here.." class="message-input" rows="1" maxlength="100"
                              [(ngModel)]="textMsg" ></ion-textarea>
            </ion-col>
            <ion-col size="2">
                <ion-button expand="block" fill="clear" color="primary" [disabled]="textMsg === '' "
                            class="msg-btn" (click)="send()">
                    <ion-icon  name="Send" slot="icon-only"></ion-icon>
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-toolbar>

</ion-footer>