<ion-header>
    <ion-toolbar>
        <ion-title>CHAT WITH PERSONAL</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list-header>
        PERFIL

    </ion-list-header>
    <ion-item>
        <ion-avatar slot="start">
            <img src="{{dp}}" alt="">
        </ion-avatar>
        <ion-label>
            <h2>
                <b>{{name}}</b>
            </h2>
            <p>
                @{{email}}
            </p>
        </ion-label>
    </ion-item>


    <ion-list-header>
        USUARIOS
    </ion-list-header>
    <ion-item lines="none" *ngFor="let user of users" (click)="gotoChat(user.uid,user.name)" button="">
        <ion-avatar slot="start">
            <img src="{{user.dp}}" alt="">
        </ion-avatar>
        <ion-label>
            <h2>
                <b>{{user.email}}</b>
            </h2>
            <p>
                @{{user.name}}
            </p>
        </ion-label>
    </ion-item>
</ion-content>
