<ion-header>
  <ion-toolbar>
    <ion-title>CHAT WITH PERSONAL</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<<ion-list-header>
    PERFIL

</ion-list-header>
    <ion-item>
        <ion-avatar slot="start">
            <img src="{{dp}}" alt="">
        </ion-avatar>
        <ion-label>
            <h2>
                <b>{{email}}</b>
            </h2>
            <p>
                @{{name}}
            </p>
        </ion-label>
    </ion-item>
    <ion-list-header>
        USUARIOS
    </ion-list-header>
<ion-item lines="none" *ngFor="let user of users">
   <ion-avatar slot="start">
    <img src="{{user.dp}}" alt="">
   </ion-avatar>
    <h2>
        <b>{{user.name}}</b>
    </h2>
    <p>
        @{{user.username}}
    </p>
</ion-item>
</ion-content>
