<ion-header>
    <ion-toolbar color="dark">
        <ion-buttons slot="start">
            <ion-button (click)="goMenu()" fill="clear">
                <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
            </ion-button>
        </ion-buttons>
        <p align="center"> <strong>SALA DE CHAT </strong></p>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list-header>
        <strong> PERFIL
        </strong>

    </ion-list-header>
    <ion-item>
        <ion-avatar slot="start">
            <img src="{{dp}}" alt="">
        </ion-avatar>
        <ion-label>
            <h2>
                <b>{{name}}</b>
            </h2>
            <p>
                @{{email}}
            </p>
        </ion-label>
    </ion-item>


    <ion-list-header>
        <strong> USUARIOS
        </strong>
    </ion-list-header>
    <ion-item lines="none" *ngFor="let user of users" (click)="gotoChat(user.uid,user.name)" button="">
        <ion-avatar slot="start">
            <img src="{{user.dp}}" alt="">
        </ion-avatar>
        <ion-label>
            <h2>
                <b>{{user.email}}</b>
            </h2>
            <p>
                @{{user.name}}
            </p>
        </ion-label>
    </ion-item>
</ion-content>
