<ion-header>
  <ion-toolbar color="dark">
    <h1 align="center"> <strong>SECURITY PLUS</strong></h1>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <p align="center">
    <img class="center-span" src="assets/img/eliteseg.jpg" />
    </p>
    <ion-card-header>
      <ion-card-title class="center-span" >ELITESEG CIA. LTDA</ion-card-title>
    </ion-card-header>
  </ion-card>
  <form>
    <ion-item lines="full">
      <ion-label position="floating">Correo Electronico</ion-label>
      <ion-input type="text" #email requeried></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password" #password  requeried></ion-input>
    </ion-item>
    <ion-row>
      <ion-col>
        <!--<ion-button  type="submit" (click)="onLogin(email, password)" expand="block">
          ENTRAR
        </ion-button>-->
         <!--<ion-button pButton pRipple type="button" label="Danger" class="p-button-raised p-button-danger" (click)="onLogin(email, password)" >
              entrar
          </ion-button>-->

          <ion-button label="ENTRAR" icon="pi pi-check" styleClass="p-button-sm" (click)="onLogin(email, password)" expand="block"> ENTRAR </ion-button>



      </ion-col>

    </ion-row>
    <ion-row>
      <ion-col>

        <p align="center" class="ion-align-items-start">
          <ion-icon name="key-outline" slot="end"></ion-icon>
          <a routerLink="/forgot-password"> Recuperar contraseña</a>
        </p>
      </ion-col>

    </ion-row>
   <!--
    <span class="center-span"> o </span>
    <ion-row>
      <ion-col>
        <ion-button  type="submit" color="danger" (click)="onLoginGoogle()"
                     expand="block">
          ENTRAR CON GOOGLE
        </ion-button>
      </ion-col>

    </ion-row>-->

  </form>
  <ion-row>
    <ion-col>
    <p align="center" class="ion-align-items-start">
      <ion-icon name="accessibility-outline" slot="end"></ion-icon>
      <a routerLink="/register">Registrarse</a>
    </p>
    </ion-col>

  </ion-row>
</ion-content>
