<ion-header>
  <ion-toolbar>
    <ion-title * >admin</ion-title>
      <ion-title > GUARDIA </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <form>

        <ion-row>
            <ion-col>
                <!--<ion-button  type="submit" (click)="onLogin(email, password)" expand="block">
                  ENTRAR
                </ion-button>-->
                <!--<ion-button pButton pRipple type="button" label="Danger" class="p-button-raised p-button-danger" (click)="onLogin(email, password)" >
                     entrar
                 </ion-button>-->

                    <ion-button  label="ENTRAR" icon="pi pi-check" styleClass="p-button-sm"  (click)="goUbication()"> UBICACIÓN </ion-button>
                <ion-button  label="ENTRAR" icon="pi pi-check" styleClass="p-button-sm"  (click)="goChat()" > CHAT </ion-button>



            </ion-col>

        </ion-row>


        <ion-row>
            <ion-col>
                <ion-button
                                          >
                PÁNICO
            </ion-button>
                <ion-button  color="danger"
                             >
                    REPORTES
                </ion-button>
            </ion-col>

        </ion-row>
    </form>

</ion-content>
