<ion-header>
  <ion-toolbar>
    <ion-title>UBICACIÓN EN TIEMPO REAL</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <div id="map"></div>
  <ion-list-header>
    USUARIOS CONECTADOS
  </ion-list-header>
  <ion-item lines="none" *ngFor="let user of users" (click)="gotoChat(user.uid,user.name)" button="">
    <ion-avatar slot="start">
      <img src="{{user.dp}}" alt="">
    </ion-avatar>
    <ion-label>
      <h2>
        <b>{{user.email}}</b>
      </h2>
      <p>
        @{{user.name}}
      </p>
    </ion-label>
  </ion-item>
</ion-content>
