<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-button (click)="goMenu2()" fill="clear">
        <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <strong> <p align="center"> UBICACION</p></strong>

  </ion-toolbar>
</ion-header>
<ion-content padding>
  <div id="map"></div>
  <ion-toolbar color="success">
  <strong ><ion-list-header>
    USUARIOS CONECTADOS
  </ion-list-header></strong>
  </ion-toolbar>
  <ion-item lines="none" *ngFor="let user of users" (click)="gotoChat(user.uid,user.name)" button="">
    <ion-avatar slot="start">
      <img src="{{user.dp}}" alt="">
    </ion-avatar>
    <ion-label>
      <h2>
        <b>{{user.email}}</b>
      </h2>
      <p>
        @{{user.name}}
      </p>
    </ion-label>
  </ion-item>
</ion-content>
