<ion-header>
  <ion-toolbar>
    <ion-title>REGISTRAR USUARIO</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<form>
  <ion-item lines="full">
    <ion-label position="floating">Nombre</ion-label>
    <ion-input  [(ngModel)]="name"  name="name" ></ion-input>
  </ion-item>
  <ion-item lines="full">
<ion-label position="floating">Email</ion-label>
<ion-input  [(ngModel)]="RegisterUsers.email1"  name="email1" ></ion-input>
  </ion-item>
  <ion-item lines="full">
    <ion-label position="floating">Password</ion-label>
    <ion-input  type="password" [(ngModel)]="RegisterUsers.password"  name = "password"></ion-input>
  </ion-item>
<ion-row>
  <ion-col>
    <ion-button type="submit" (click)="onRegister()" expand="block">
    REGISTRAR
    </ion-button>
  </ion-col>

</ion-row>

</form>

  <ion-row>
    <ion-col>
      <p>
        <a routerLink="/login"> Already a have account?</a>
      </p>
    </ion-col>

  </ion-row>
</ion-content>
