<ion-header>
    <ion-toolbar color="dark">
        <p align="center"> <strong>REGISTRAR USUARIO</strong></p>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form>
        <ion-item lines="full">
            <ion-label position="floating">Nombre</ion-label>
            <ion-input [(ngModel)]="name" name="name"></ion-input>
        </ion-item>
        <ion-item lines="full">
            <ion-label position="floating">Cédula</ion-label>
            <ion-input [(ngModel)]="cedula" name="cedula"></ion-input>
        </ion-item>
        <ion-item lines="full">
            <ion-label position="floating">Correo Electrónico</ion-label>
            <ion-input [(ngModel)]="RegisterUsers.email1" name="email1"></ion-input>
        </ion-item>
        <ion-item lines="full">
            <ion-label position="floating">Contraseña</ion-label>
            <ion-input type="password" [(ngModel)]="RegisterUsers.password" name="password"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label class="normal">
                Foto
            </ion-label>
            <ion-buttons slot="end">
                <ion-button>
                    <label for="file-upload">
                        <ion-icon slot="icon-only" name="images"></ion-icon>
                    </label>

                    <input (change)="newImageUpload($event)" id="file-upload" style="display:none" type="file"
                           accept="image/+" >
                </ion-button>
            </ion-buttons>
        </ion-item>
        <ion-item lines="full">
            <ion-label position="floating">Teléfono</ion-label>
            <ion-input [(ngModel)]="phone" name="phone"></ion-input>
        </ion-item>

        <ion-row>
            <ion-col>
                <ion-button type="submit" (click)="onRegister()" expand="block">
                    REGISTRAR
                </ion-button>
            </ion-col>

        </ion-row>
        <img class="pic" [src]="newImage">
    </form>

    <ion-row>
        <ion-col>
            <p align="center">
                <a routerLink="/login"> Ya tengo una cuenta</a>
            </p>
        </ion-col>

    </ion-row>
</ion-content>
